.section {
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}

.fundsInput::-webkit-outer-spin-button, .fundsInput::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
}

.fundsInput[type=number] {
    -moz-appearance:textfield;
}

@media only screen and (max-width: 776px) {
    .fluid-main {
        width: 100% !important;
        padding: 0 10px
    }

    .toolbar-item-spacer {
        flex: 1 1 auto;
    }

    .app-container {
        height: 90%;
        margin: 0;
    }
    .app-sidenav {
        width: 230px;
    }
    .app-sidenav-content {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
    }

}

