<div>
    <div class="d-flex justify-content-between">
        <span class="mat-headline-4 mb-3 ps-2">Movements</span>
        <button mat-stroked-button color="primary" #movementRefresh>Refresh
            <mat-icon fontIcon="refresh"></mat-icon>
        </button>
    </div>
    <table mat-table [dataSource]="dataSource"
           style="border-radius: 5px; border-style: solid; border-color: red">
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Description</th>
            <td mat-cell *matCellDef="let movement"> {{movement.description}} </td>
        </ng-container>
        <ng-container matColumnDef="transactionValue">
            <th mat-header-cell *matHeaderCellDef style="width: 16%; text-align: right"> Amount (EUR)</th>
            <td mat-cell *matCellDef="let movement" class="text-end"><span
                [style.color]="movement.transactionValue < 0 ? '#dc3545' : '#198754'">{{movement.transactionValue}}</span>
            </td>
        </ng-container>
        <ng-container matColumnDef="newWalletValue">
            <th mat-header-cell *matHeaderCellDef style="width: 22%; text-align: right"> Wallet balance (EUR)</th>
            <td mat-cell *matCellDef="let movement" class="text-end"> {{movement.newWalletValue}}</td>
        </ng-container>
        <ng-container matColumnDef="createdAt">
            <th mat-header-cell *matHeaderCellDef style="width: 20%"> Date</th>
            <td mat-cell *matCellDef="let movement"> {{movement.createdAt}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; let even = even; columns: displayedColumns;"
            [style.background-color]="even ? '#F9F9F9' : ''"></tr>

    </table>
    <mat-paginator [pageSizeOptions]="[10, 20, 40]"
                   showFirstLastButtons
                   aria-label="Select movement page">
    </mat-paginator>
</div>
