.section {
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}

@media only screen and (max-width: 776px) {
    .fluid-main {
        width: 100% !important;
        padding: 0 10px
    }
}

